@import '../../Assets/css/color.scss';
.form__modal {
    width: 500px;
    height: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 20px 30px;
    background-color: rgb(255, 255, 255);   

    input {
        width: 100%;
        border: $border_color;
        color: $input_color;
        background: $input_bg_color;
        padding: 20px 20px;
        margin-bottom: 20px;
        font-size: 18px;
        outline: none;
        &:focus {
            color: #000;
        }

    }
    .btn__modal--create {
        background-color: $blue;
        outline: none;
        border-radius: 10px;
        border: none;
        width: 50%;
        font-size: 18px;
        color: $background;
        cursor: pointer;
        padding: 10px 10px;
    }
    .btn__modal--join {
        background-color: $online_color;
        outline: none;
        border-radius: 10px;
        border: none;
        width: 50%;
        font-size: 18px;
        color: $background;
        cursor: pointer;
        padding: 10px 10px;
    }
}
.close__modal {
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: $background;
    cursor: pointer;
    top: 3%;
    left: auto;
    right: 1%;
    bottom: auto;
    i {
        background-color: $background;
    }
}
.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #666 ;
    opacity: 0.9;
  }
.user {
    width: 100%;
    height: 100%;
    background: $background;
    display: flex;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
       
    .list__chat {
        width: 450px;
        display: flex;
        align-items: center;
        flex-direction: column;
        border-right: 2px solid $input_bg_color;
        padding: 0px 20px;
        background: $background;
        padding: 30px 20px;

        .room__actions {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-between;

            .join__room {
                width: 48%;
                background-color: $online_color;
                color: $background;
                text-align: center;
                border-radius: 10px;
                align-items: center;
                display: flex;
                justify-content: center;
                padding: 15px 0px;
                transition: 300ms;
                cursor: pointer;
                
                &:hover {
                    background-color: #23cd48;
                }
            }
            .create__room {
                width: 48%;
                background-color: $blue;
                color: $background;
                text-align: center;
                border-radius: 10px;
                align-items: center;
                transition: 300ms;
                display: flex;
                justify-content: center;
                padding: 15px 0px;
                cursor: pointer;
    
                &:hover {
                    background-color: #61c2fb;
                }
            }

        }
    }
    .converstation {
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        width: 100%;
        height: 100%;
    }
    &__title--2, &__title--3 {
        width: 100%;
        display: flex;
        background-color: $background;
        margin-bottom: 30px;
        h2 {
            font-size: 40px;
            background-color: $background;
            font-weight: 500;
        }
        h3 {
            font-size: 20px;
            background-color: $background;
            font-weight: 500;
        }
    }

    &__seaarch {
        background-color: $background;
        width: 100%;
        display: flex; 
        align-items: center;
        margin-bottom: 30px;
      
        i {
            font-size: 24px;
            background-color: $input_bg_color;
            color: $input_color;
            border-right: none;
            padding: 17px 20px 17px 20px;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;   
        }
        
        input {
            width: 100%;
            background-color: $input_bg_color;
            color: $input_color;
            outline: none;
            border: none;
            font-size: 15px;
            border-left: none;
            padding: 20px 20px 20px 0px;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            transition: 300ms;

            &:focus {
                color: #000;
            }
        }

    }
    &__online {
        width: 100%;
        display: flex;
        margin-bottom: 30px;
        background-color: $background;
        flex-direction: row;
        
        &--icon {
            background-color: $background;
            position:relative;
            display:inline-block;
            margin-right: 18px;
            overflow: hidden;

            img {
                width:55px;
                height:55px;
                border-radius:50%;
                vertical-align: middle;
                object-fit:cover;
            }
            .user__online--status {
                width: 16px;
                height: 16px;
                background: $online_color;
                border: 2px solid $background;
                position: absolute;
                bottom: 2%;
                right: 2%;
                border-radius:100%;
                
            }
        }
    }

    &__messages {
        background-color: $background;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        scroll-behavior: smooth;
        // scroll-snap-margin-top: 8.5rem;
        // scroll-margin-left: 10px;
        padding-right: 10px;

        &::-webkit-scrollbar{
            width: 5px;
            cursor: pointer;
        }
        
        &::-webkit-scrollbar-track{
            background: $background;
         
        }
        &::-webkit-scrollbar-thumb{
            background: $blue;
            border-radius: 10px;
          
        }
        &--box {
            background-color: $background;
            display: flex;
            margin-bottom: 20px;
            justify-content: space-between;
            padding: 5px 10px;
            border-radius: 17px;
            cursor: pointer;
            &:hover {
                transition: 300ms;
                background-color: $blue;
                div:first-child {
                    transition: 300ms;
                    background-color: $blue;
                    div p{
                        transition: 300ms;
                        background-color: $blue;
                        color: $background;
                    }
                } 
                div:last-child{
                    transition: 300ms;
                    background-color: $blue;
                    span{
                        transition: 300ms;
                        background-color: $blue;
                        color: $background;
                    }
                }
            }
            & > div:first-child {
                background-color: $background;
                display: flex;
                align-items: center;
            }
            .user__messages--name {
                background-color: $background;
                p{
                    font-family: Arial, Helvetica, sans-serif;
                    background-color: $background;
                    &:first-child {
                        font-weight: 700;
                        font-size: 17px;
                        margin-bottom: 5px;
                    }
                    &:last-child {
                        color: $input_color;
                        font-size: 12px;
                        font-weight: 500;
                    }
                }

            }
            .user__messages--time {
                background-color: $background;
                span {
                    color: $input_color;
                    font-size: 12px;
                    font-weight: 500;
                    background-color: $background;
                }
            }
        }
    }
}