@import '../../Assets/css/color.scss';

.chatBoxSetting {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100px;
    height: 100%;
    padding: 0px 20px;
    background: $background;
    padding: 30px 20px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}