@import '../../Assets/css/color.scss';

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100px;
    height: 100%;
    border-right: 2px solid $input_bg_color;
    background: $background;
    padding: 30px 20px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;

    &__logo { 
        background-color: $background;
        img{
            height: 50px;
            pointer-events: none;
            background-color: $background;
        }
    } 
    &__action {
        background-color: $background;

        &--icon {
            font-size: 25px;
            color: $color_icon;
            background-color: $background;
            transition: 300ms;
            width: 50px;
            height: 50px;
            border-radius: 17px;
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
            padding: 30px;
            margin-bottom: 5px;
            cursor: pointer;

            &.active {
                background-color: #f0ecfb;
                color: $blue;
                border-radius: 17px;
                padding: 30px;
                i {
                    background-color: #f0ecfb;
                    font-size: 27px;
                }
            }
            i {
                transition: 300ms;
                background-color: $background;
            }
            &:hover{
                background-color: #f0ecfb;
                color: $blue;
                border-radius: 17px;
                padding: 30px;
                i {
                    background-color: #f0ecfb;
                    font-size: 27px;
                }
            }
           

        }
    }
    &__logout {
        background-color: $background;
        color: $color_icon;
        cursor: pointer;
        i {
            background-color: $background;
            transition: 300ms;
            &:hover{ 
                font-size: 20px;
                color: $blue;
            }
        }
    }
      
    
} 
@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}
@media (prefers-reduced-motion: no-preference) {
    .navbar__logo {
      animation: App-logo-spin infinite 20s linear;
    }
}